{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% block content %}
<div class="container my-5">
  <!-- Кнопка "Назад": возвращаемся к списку товаров бизнеса -->
  <div class="mb-3">
    <a href="{% url 'marketplace:business_product_list' business.id %}" class="btn btn-outline-secondary">
      <i class="bi bi-arrow-left"></i> Назад
    </a>
  </div>

  <h2 class="mb-4 text-center">{{ action }}</h2>
  
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-4 shadow-sm" style="border-radius: 15px;">
        <div class="card-header bg-primary text-white">
          {{ action }}
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form product_form %}
            {% bootstrap_form image_form %}
            {% bootstrap_button button_type="submit" content="Отправить" %}
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
