{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'blocks/head_block.html' %}
<head>
    {% block title %} {% endblock %}
</head>
<body>
{% include 'blocks/header.html' %}
<div class="d-flex flex-column min-vh-100">
    <main class="pt-5 my-5 flex-grow-1">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </main>
</div>
{% include 'blocks/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>